@font-face {
    font-family: 'seoul';
    src: url(../font/seoulhangang-m/SeoulHangang-Medium.ttf);
}
body
{
    margin-bottom: 10px;
}
h1
{
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-family:'seoul';
}
p
{
    color: #fff;
    text-align: center; 
    margin-top: -20px;
}

.container
{
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container a
{
    text-decoration: none;
}
.box
{
    text-align: center;
    margin-left: 20px;
    background: linear-gradient(158.16deg, #10796D 0%, #08382E 100%);   
    width: 300px;
    padding-bottom: 50%;
    border-radius: 20px;
}

.box:hover
{
    text-align: center;
    margin-left: 20px;
    background: linear-gradient(158.16deg, #08382E 0%, #10796D 100%);   
    width:300px;
    border-radius: 20px;
    padding-bottom: 50%;
}
.box h2
{
    padding-top: 200px;
    color: white;
    font-family: 'seoul';
    font-size: 24px;
}


