@font-face {
    font-family: 'seoul';
    src: url(font/seoulhangang-m/SeoulHangang-Medium.ttf);
}

body
{
    background: linear-gradient(116.82deg, #08382E 0%, #10796D 100%);
    background-size: cover;
    height: 100vh;
    width: 85%;
    margin:auto;
    background-position: center;
    background-repeat: no-repeat;
}


.bg img
{
    width: 450px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -225px;
    margin-top: -100px;
    z-index: 1;
}

/*menu navigasi*/
.menu{ 
    margin-bottom: 0px;
    position:sticky;
    top:15px;
}

div.menu ul {
list-style:none;
overflow: hidden;
}


div.menu ul li {
float:left;		
text-transform:uppercase;
}

div.menu ul li a {
padding:0 20px;
text-decoration:none;
color:#ffffff;
font-family: sans-serif;
font: size 13pt;;
font-weight:400;
transition:all 0.3s ease-in-out;
}

div.menu ul li a:hover,
div.menu ul li a.hoverover {	
cursor: pointer;	
color:#10796D;
}


/*HOME*/
.judul_home{
    font-size:25px;
    font-family: 'seoul';
    margin:0;
    padding:0;            
    position: absolute;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}
