@font-face {
    font-family: 'seoul';
    src: url(font/seoulhangang-m/SeoulHangang-Medium.ttf);
}
h3
{
    color: #08382E;
    font-family: 'seoul';
}

body
{
    background: linear-gradient(116.82deg, #08382E 0%, #10796D 100%);
    background-size: cover;
    margin:auto;
    background-position: center;
    background-repeat: no-repeat;
    
}
.back
{
    position:sticky;
    top:40px;
    padding-left: 5%;
}
.back img
{
    
    height: 30px;
    width: auto;
}
.back img:hover
{

    height: 30px;
    width: auto;
}
.header
{
    text-align: center;
    padding-top: 50px;
}
.header h1
{
    font-family: 'seoul';
    color: white;
    margin-bottom: 50px;
}
.container
{
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px ;
    gap: 40px;
    padding-bottom: 100px;
    text-align: center;
    position: relative;
}
.card
{
    width: 100%;
    height: auto;
    grid-column: span 8;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: white;
    position: relative;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.342);
    transition: all 0.5s;

}

.body-card
{
    padding: 10px;
    padding-bottom: 10px;
}

.body-card img
{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card:hover
{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor:pointer;
}

@media screen and (min-width:500px) {
    .card
    {
        grid-column: span 4;
    }
}
@media screen and (min-width:760px)
{
    .card
    {
        width: 350px;
        margin: 0 10px;
    }
}