@font-face {
    font-family: 'seoul';
    src: url(font/seoulhangang-m/SeoulHangang-Medium.ttf);
}

body {
    background: linear-gradient(116.82deg, #08382E 0%, #10796D 100%);
	
}
.back
{
    position:sticky;
    top:40px;
    padding-left: 5%;
}
.back img
{
    
    height: 30px;
    width: auto;
}
.back img:hover
{

    height: 30px;
    width: auto;
}
.header
{
    color: white;
    text-align: center;
}
.bg
{
    margin: 30px 0;
	padding: 0;
	font-family: 'seoul';
	display: flex;
	justify-content: center;
	align-items: center;
    
    border: none;
}


.container {
	padding: 0;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(8,1fr);
	margin: 5px 15px;
	gap:20px;
	position: relative;
}

.card {
    background-color: white;
    border: none;
	width: 100%;
	height: auto;
	grid-column: span 8;
	margin: 10px 0;
	border-radius: 15px;
	position: relative;
    text-align: center;

}
.card:hover {
    background-color: white;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);

}

.head-card
{
    padding-top: 30px;
}

.body-card {
	padding: 10px 15px;
}

.body-card h1 {
	margin: 0;	

}

.body-card svg {
	width: 31px;
	position: absolute;
	bottom: 7px;
	right: 20px;
}


@media screen and (min-width: 550px) {
	.card {
	grid-column: span 4;

}
}

@media screen and (min-width: 760px) {

	.card {
	width: 350px;
	margin: 0 10px;
}
}
@media screen and (min-width: 960px) {

}

.footer
{
    padding-top: 30px;
    color: white;
    text-align: center;
    padding-bottom: 100px;
}
